.feedback-form__button {
  position: relative;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

.feedback-form__button::after {
  content: "💿";
  position: absolute;
  right: 30px;
  top: 50%;
  font-size: 20px;
  animation: rotation 1s linear infinite;
}

.feedback-form__button:hover {
  background-color: #0056b3;
}

@keyframes rotation {
  0% {
    transform: translateY(-50%) rotate(0);
  }
  100% {
    transform: translateY(-50%) rotate(359deg);
  }
}
